* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clear {
    clear: both;
}

#navegacao-principal {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 6px #A9A9A9;
}

#navegacao-principal img {
    width: 200px;
}

#navegacao {
    display: flex;
    align-items: center;
}

#navegacao a {
    text-decoration: none;
    margin-right: 50px;
    color: black;
}

#container {width: 1086px; margin: 0 auto;}

#resumo {
    display: flex;
    border-bottom: 1px solid #464646;
    margin-bottom: 40px;
}

.conteudo-resumo {
    padding: 20px;
}

.conteudo-resumo h1 {
    font-size: 44px; 
    padding: 17% 0 15px 0;
}

.conteudo-resumo p {
    font-size: 24px;
}

.borda-cinza {
    border-bottom: 1px solid #464646;
}

.news {
    width: 80%;
    margin: 0 auto 7% auto;
    display: flex;
    flex-direction: column;
}

.news h1 {
    text-align: center;
    font-size: 32px;
}

.news h1::after {
    content: '';
    display: block;
    width: 20%;
    height: 3px;
    background: #5A3795;
    margin: 0 auto;
}

.news p {
    font-size: 12px;
}

.short-new {
    border-bottom: 1px solid #464646;
    padding: 6% 0;
}

.short-new img {
    display: inline-block;
    float: left;
    width: 30%;
    margin-right: 18px;
}

.date {
    display: flex;
    justify-content: space-between;
    color: grey;
}

.short-new h2 {
    padding-bottom: 1%;
    padding-top: 2%;
}

.btn-news {
    width: 300px;
    padding: 1%;
    border: 1px solid #7254A4;
    background: #7254A4;
    color: #fff;
    font-size: 20px;
    margin: 5% auto 0 auto;
    cursor: pointer;
}

#titulo-videos {
    text-align: center;
    font-size: 32px;
}

#titulo-videos::after {
    content: '';
    display: block;
    width: 10%;
    height: 3px;
    background: #5A3795;
    margin: 0 auto 5% auto;
}

.video {
    width: 80%;
    display: flex;
    margin: 0 auto 2% auto;
    justify-content: space-between;

    
}

.featured {
    display: flex;
    width: 402px;
    height: 270px;

}

.featured img {
    width: 100%;
}

.more-videos {
    display: flex;b;
    max-width: 500px;
    height: 270px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    
}

.more-videos img {    
    width: 232px; 
    height: 130px;
    padding-bottom: 10px;
}

.btnVideos {
    width: 80%;
    display: flex;
    margin: 0 auto 10% auto;
    justify-content: center;
    padding: 1%;
    border: 1px solid #7254A4;
    background: #7254A4;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

}

#main-footer {
    display: flex;
    background-color: #DC762E;
    padding: 5%;
}

#main-footer img {
    width: 400px;
}

.items-footer {
    margin: 8px 4px;
    width: 400px; 
    height:200px;
    padding: 2%;
    font-size: 22px;
    color: #fff;
    position: relative;
}

.border-white::before {
    content: '';
    display: block;
    width: 3px;
    height: 230px;
    background: #fff;
    position: absolute;
    left: 1%;
    top: 6%;
}

.items-footer h3 {
    font-size: 35px;
}

.items-footer li {
    list-style-type: none;
    padding: 10px 0 10px 0;
}

.items-footer li a {

    text-decoration: none;
    color: #fff;
}

#sub-footer {
    display: flex;
    padding: 1%;
    justify-content: center;
    background: #594083;
    color: #fff;
}

#sub-footer p a {
    text-decoration: none;
    color: #fff;
}

/* ===== Responsive ===== */
@media (max-widht: 600px) {}

